.main-footer {
	background: url("../images/fotter_background.jpg") no-repeat 50% 50%;
	background-size: cover;
	min-height: 382px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	@media screen and (max-width: 992px) {
		min-height: inherit;
		padding: 25px 0;
	}
	&__logo {
		max-width: 175px;
		width: 100%;
		align-self: center;
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	&__widgets {
		padding-left: 3%;
		@media screen and (max-width: 992px) {
			padding-left: 15px;
		}
	}
}
.widget {
	&__title {
		font-family: $roboto;
		text-transform: uppercase;
		color: $white;
		font-weight: 400;
		font-size: 19px;
		line-height: 28.5px;
		margin-bottom: 0;
	}
	&__list {
		font-family: $roboto;
		color: $white;
		font-weight: 400;
		font-size: 19px;
		line-height: 28.5px;
		padding-left: 0;
		margin: 0;
		* {
			font-weight: inherit;
			color: inherit;
			font-family: inherit;
			font-style: inherit;
			font-size: inherit;
		}
		li {
			list-style: none;
			a {
				
			}
		}
	}
}